<a href="https://colab.research.google.com/github/Chatrawit/main/blob/main/SparkSQL_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



























# **SparkSQL HOMEWORK**

***

## Setup

In [ ]:
# Installing required packages
!pip install pyspark
!pip install findspark
!pip install pyarrow==1.0.0
!pip install pandas
!pip install numpy==1.19.5

In [ ]:
import findspark
findspark.init()

In [ ]:
import pandas as pd
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

## Exercise 1 -  Spark session

Create and initialize the Spark session needed to load the data frames and operate on it

#### Task : Creating the spark session and context

In [ ]:
# Write your code here

## Exercise 2 - Loading the Data and creating a table view

### Task 1: Set Directory 


Set google colab folder directory

In [ ]:
# Write your code here
path=("your directory")

#### Task 2: Load data into a Pandas DataFrame.

Pandas has a convenient function to load CSV data from a URL directly into a pandas dataframe.

In [ ]:
# Read the file using `read_csv` function in pandas
iris = pd.read_csv(path+'iris.csv')

In [ ]:
# Preview a few records
iris.head()

#### Task 3: Loading data into a Spark DataFrame

We use the `createDataFrame` function to load the data into a spark dataframe

In [ ]:
sdf = spark.createDataFrame(iris)

Let us look at the schema of the loaded spark dataframe

In [ ]:
sdf.printSchema()

NameError: ignored

#### Task 3: Create a Table View

Creating a table view in Spark SQL is required to run SQL queries programmatically on a DataFrame. A view is a temporary table to run SQL queries. A Temporary view provides local scope within the current Spark session. In this example we create a temporary view using the `createTempView()` function

In [ ]:
# Write your code here

## Exercise 3 - Running SQL queries and aggregating data

Once we have a table view, we can run queries similar to querying a SQL table. We perform similar operations to the ones in the DataFrames notebook. Note the difference here however is that we use the SQL queries directly.

In [ ]:
#Show the top 5 rows (use both SQL, Data Frame operations )

In [ ]:
#Show SepalWidthCm>3 and SepalLengthCm >4.5 and sort by PetalLengthcm (use both SQL, Data Frame operations )

## Exercise 4 - Create a Pandas UDF to apply a columnar operation

Apache Spark has become the de-facto standard in processing big data. To enable data scientists to leverage the value of big data, Spark added a Python API in version 0.7, with support for user-defined functions (UDF). These user-defined functions operate one-row-at-a-time, and thus suffer from high serialization and invocation overhead. As a result, many data pipelines define UDFs in Java and Scala and then invoke them from Python.

Pandas UDFs built on top of Apache Arrow bring you the *best of both worlds*â€”the ability to define low-overhead, high-performance UDFs entirely in Python.

#### Task 1: Importing libraries and registering a UDF

In [ ]:
# import the Pandas UDF function 
from pyspark.sql.functions import pandas_udf, PandasUDFType

#### Task 2: Applying the UDF to the tableview

> Indented block



Create new columns that give the standardize value of each column X_STD=( X-mean(X))/SD(X)

In [ ]:
# Write your code here